# Timescale
snippet ts
	\`timescale 1ns / 100ps

# Module
snippet mo
	module ${1:module} (
		${2}
	);

	endmodule

# Assign statement
snippet as
	assign ${1} = ${2};

# Always block, if/else
snippet al
	always @(posedge ${1:clock} or posedge ${2:reset})
		if($2)
			${3:a_reg} <= ${4:};
		else
			$3 <= ${5:};

# Ternary operator
snippet mu
	assign ${1} = ${2} ? ${3} : ${4};

# Review line
snippet rv
	/* REVIEW - ${1} */
